body{
	background-color: black;
}

.container{
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: poppins;
}

.header{
	height: 120px;
	width: 100%;
	background-color: yellow;
	text-align: center;
}

.header h1 {
	font-size: 60px;
	padding-top: 20px;
}

.menu{
	margin-top: -15px;
	background-color: red;
	height: 70px;
	width: 100%;
}

.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu ul li {
	float: left;
	text-align: left;
}

.menu ul li a {
	float: left;
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 15px;
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid black;
	border-radius: 25px;
	text-decoration: none;
}

.menu ul li a:hover {
	background-color: blue;
}

.content {
	position: relative;
	height: 330px;
	width: 600px;
	margin: auto;
	background: rgba(130,130,130,0.5);
}

.tentang {
	text-align: center;
	border: 3px solid yellow;
	width: auto;
	height: 40px;
	margin: auto;
	border-radius: 50px;
	padding: 15px;

	font-size: 25px;
	font-weight: bold;

	transition: 1.5s;
}

.tentang a {
	text-decoration: none;
	color: white;
}

.tentang:hover{
	box-shadow: 0 5px 50px 0 green inset, 0 5px 50px 0 yellow;
}
.hobby {
	position: relative;
	text-align: center;
	border: 3px solid yellow;
	width: auto;
	height: 40px;
	margin: auto;
	margin-top: 25px;
	padding: 15px;
	border-radius: 50px;

	font-size: 25px;
	font-weight: bold;

	transition: 1.5s;
}

.hobby a {
	text-decoration: none;
	color: white;
}

.hobby:hover{
	box-shadow: 0 5px 50px 0 green inset, 0 5px 50px 0 yellow;
}

.lingkungan {
	position: relative;
	text-align: center;
	border: 3px solid yellow;
	width: auto;
	height: 40px;
	margin: auto;
	margin-top: 25px;
	padding: 15px;
	border-radius: 50px;

	font-size: 25px;
	font-weight: bold;

	transition: 1.5s;
}

.lingkungan a {
	text-decoration: none;
	color: white;
}

.lingkungan:hover{
	box-shadow: 0 5px 50px 0 green inset, 0 5px 50px 0 yellow;
}

.footer {
	width: 100%;
	height: 50px;
	background-color: yellow;
	font-size: 25px;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
}

